
<div class="top-nav">
    <span class="menu"><img src="~/Content/client/images/menu.png" alt=""></span>
    <ul class="nav">
        <li class="dropdown1">
            @Html.ActionLink("HOME", "Index", "Home")
           
        </li>
        <li class="dropdown1">
            <a href="/men-4-jeans">MEN</a>
            
        </li>
        <li class="dropdown1">
            <a href="women.html">WOMEN</a>
           
        </li>
        <li class="dropdown1">
            <a href="women.html">KIDS</a>
            
        </li>
        <li class="dropdown1">
            <a href="men.html">SALE</a>
            
        </li>
        <li><a href="about.html">ABOUT US</a></li>
        <li><a href="404.html">SUPPORT</a></li>
    </ul>
</div>